# Kickstart 安裝模式 (自動安裝)
autostep --autoscreenshot

#Use text mode install
#文本方式安装 
text

#使用光盘安装 
cdrom

# 語言與鍵盤
lang en_US.UTF-8
keyboard --xlayouts='us'

# Network information
#network  --bootproto=static --device=ens18 --gateway=10.20.30.254 --ip=10.20.30.112 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=rocky-server


# System timezone
timezone Asia/Taipei --isUtc --nontp


# root 密碼 (此處為 root123，需轉為密碼雜湊)
#rootpw --plaintext root123
rootpw --iscrypted $6$UxiuGMTGBFVhMmo.$wgi5Ih4KTwu34Ta6D3VWDhazGKO2Y9k3qgh.ieg5LW4fXuL6paSjHYnXD.AEPweyRK.fIBtJnGdsW6hiaaHlm0

#Firewall configuration
#禁用防火墙
firewall --disabled

#SELinux configuration 
#禁用selinux
selinux --disabled

# 啟用 SSH 服務
services --enabled=sshd


# 磁碟分割 (清空磁碟並重新分割)
ignoredisk --only-use=sda
clearpart --all --initlabel

# 建立分割區
part /boot --fstype=xfs --size=2028
part /boot/efi  --fstype=xfs --size=200
part swap --fstype=swap --size=16384
part / --fstype=xfs --grow --size=8192

# 安裝套件 (最小安裝)
%packages
@^server-product-environment
kexec-tools
%end


# 接受 EULA，安裝完成後自動重開機
eula --agreed
reboot