# Kickstart 安裝模式 (自動安裝)
autostep --autoscreenshot

#Use text mode install
#文本方式安装 
text

#使用光盘安装 
cdrom

# 語言與鍵盤
lang en_US.UTF-8
keyboard --xlayouts='us'

# Network information
network  --bootproto=static --device=eno12399np0 --gateway=192.168.1.254 --ip=192.168.0.16 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=KHJB-RAIN04-new


# System timezone
timezone Asia/Taipei --isUtc --nontp


# root 密碼 (此處為 root123，需轉為密碼雜湊)
rootpw --iscrypted $6$WD28UnKuNgOVt82b$a8s9Uxb3NpjdIbxsxp.P7eXVSU7DY/5MS9Bs6xgEmmG8coadvnfxtL1EJm778wrjOP2hZQ0e8XFJexM7blM5a0

#Firewall configuration
#禁用防火墙
firewall --disabled

#SELinux configuration 
#禁用selinux
selinux --disabled

# 啟用 SSH 服務
services --enabled=sshd


# 磁碟分割 (清空磁碟並重新分割)
ignoredisk --only-use=sda
clearpart --all --initlabel

# 建立分割區
part /boot --fstype=xfs --size=2028
part /boot/efi  --fstype=xfs --size=200
part swap --fstype=swap --size=16384
part / --fstype=xfs --grow --size=8192

# 安裝套件 (最小安裝)
%packages
@^server-product-environment
kexec-tools
%end


# 接受 EULA，安裝完成後自動重開機
eula --agreed
reboot